---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout name="incomplete.fun">
  <p class="home-intro">small experiments, intentionally incomplete.</p>
  <ul class="home-links">
    <li><a href="/fib/10">fibonacci</a></li>
    <li><a href="/padic">p-adic calculator</a></li>
    <li><a href="/groups">finite group explorer</a></li>
    <li><a href="/tropical">tropical geometry calculator</a></li>
    <li><a href="/symmetry">symmetry</a></li>
    <li><a href="/voronoi">voronoi</a></li>
  </ul>
</PageLayout>
